[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=4.2,<4.3"
python-dotenv = { extras=["cli"], version="*" }

[dev-packages]
pre-commit = "*"
tox = "<4"
tox-asdf = "*"
bump2version = "*"
rapyd-django-modernauth = {editable = true, path = "."}
build = "*"
twine = "*"
setuptools = "*"
wheel = "*"

[requires]
python_version = "3.11"
